build*/
dist*/

# Object files
*.o
*.lib
*.so
*.so.*
*.lo
*.la
*.pyc
*.class

# Temp files
*.swp
*.swo
*~
#*.log

# Eclipse files
#.cproject
#.project

# Archive files
*.jar
/Debug/
/Debug test_cow_darray_perf01/
/Profiling test_cow_darray_perf01/
