build*/
dist*/
issues/

# Object files
*.o
*.lib
*.so
*.so.*
*.lo
*.la
*.pyc
*.class

# Temp files
*.swp
*.swo
*~
*.log
documentation.tar.xz

# Eclipse files
#.cproject
#.project

# Archive files
*.jar
/Debug/
/Debug test_cow_darray_perf01/
/Profiling test_cow_darray_perf01/
/bin/
